[MASTER]
jobs=4 #number of processes to use
[BASIC]
good-names=ask-gpt-demo #names to be considered ok
[pre-commit-hook]
command=custom_pylint
disable=E0401, C0301, C0114, E0015, W0401, C0116, R0913, W0612, C0115, C0103, W0718, W0719, W0707